.RwtWidget {
    background: rbg(0,0,0,0);
}

.RwtPanel {
    color: #1a3e66;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px 0 #c7c7c7;
    background-color: #eee;
    padding: 6px 6px 7px 6px;
}

.RwtButton {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
  background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  -webkit-border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 6px 0 7px 0;

  text-shadow: 0 1px 1px #fff;
  color: #1a3e66;
}



.RwtEntry {
  background-color: #fff;
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  -webkit-border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 0 0 #eee;
  color: #000;
  font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 6px 0 7px 0;
}

.RwtTextBox {
  background-color: #fff;
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 0 #eee;
  color: #000;
  font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 6px 0 7px 0;
}

/* -- --- */
@-webkit-keyframes movingbox{
0%{opacity:0;}
100%{opacity:1;}
}
.RwtAcordionPanel .expanded {
-webkit-animation:movingbox 0.5s linear;
}

.RwtAcordionPanelContent{
  border-top: none;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  padding: 3px 3px;
}
