.box_child {
  position: relative;
  width: auto;
  height: auto;
}

.fixed_child {
  position: absolute;
}

.menu_bar * {
  position: static;
}

.toplevel {
  position: fixed;
}

.container {
  overflow: hidden;
}

.container * {
  resize: none;
}
