.drawable {
  position: absolute;
  height: 100%;
  width: 100%;
}

.shown {

}

.hidden {
  display: none;
}

.panel {
  border-color: #666;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background-color: #eeeeef;
  color: black;
}

.panel_handle {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-style:solid;
  border-width:1px;
  border-bottom-color:#666;
  border-left-color:#ebebeb;
  border-top-color:#ebebeb;
  border-right-color:#ebebeb;  
  height: 20px;
  text-align: center;  
  color: #666;
}

.label {
  height: 18px;
  font-family:     "Courier New",
                    Courier,
                    monospace;
  font-size: 10pt;
  margin: 0px;
  padding: 1px;  
}

.window {

}


.entry {
  background-color: white;
  box-shadow: inset 1px 1px 1px #666;
  border-color: #666;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  font-family:     "Courier New",
                    Courier,
                    monospace;
  font-size: 10pt;
  margin: 0px;
  padding: 1px;
}

.rule {
  box-shadow: inset 1px 1px 2px #666;
  border-color: #bbcfce;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.scrollable {
  overflow: auto;
 -webkit-scrollbar-face-color: #cacaca;
 scrollbar-highlight-color: #cacaca;
 scrollbar-3dlight-color: #cacaca;
 scrollbar-darkshadow-color: #cacaca;
 scrollbar-shadow-color: #cacaca;
 scrollbar-arrow-color: #000000;
 scrollbar-track-color: #cacaca;  
}

.textarea {

}
